.contenedorB{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    background-color:#70cebe;
    width: 100%;
}
.logo{
    width:100px;
    border-radius: 50%;
}

.volver {
    color: black;
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.formulario{
    width: 100px;
    margin-left: 3rem;
    border-radius: 50%;
}
.formulario_Text{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.link{
    text-decoration: none;
}
